@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;900&display=swap');

:root {
    --main-color:#b68316;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    display: flex;
    gap: 60px;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Cairo', sans-serif;
    position: relative;
}
/* Start Header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 30px 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    z-index: 1000;
}
header img {
    width: 200px;
    height: 150px;
}
header .content {
    display: flex;
    flex-direction: row-reverse;
    gap: 90px;
}
header .links li {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--main-color);
    font-size: 16px;
    transition: .3s;
}
header .links li:hover {
    color: #fff;
}
header .social {
    gap: 30px;
}
header .social a {
    color: var(--main-color);
    font-size: 18px;
}
/* End Header */
/* Start Main Section */
.main {
    min-height: 100vh;
    background: url(./imgs/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.main img.event {
    cursor: pointer;
}
.main img.home {
    max-width: 60%;
    border-radius: 15px;
}
.main img.home.hide {
    display: none;
}
/* End Main Section */
/* Start Footer */
footer {
    height: calc(100vh - 95vh);
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
}
footer span.date {
    color:var(--main-color);
}
/* End Footer */
/* Start Gallery Box */ 
.img-container .x {
    position: absolute;
    top: 5%;
    right: 5%;
}
.img-container {
    background-color: #00000096;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1000;
}
.img-container .x {
    font-size: 5em;
    color: var(--main-color);
    cursor: pointer;
    z-index: 20000;
}
.img-container .img {
    background-color: #fff;
    padding: 50px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container .img img {
    max-width: 80%;
}
/* End Gallery Box */ 
/* Start About Us */
div.about-us {
    display: none;
    padding-bottom: 30px;
    background: #fff;
    text-align: center;
    margin: 0 50px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 600px;
}
div.about-us img {
    width: 95%;
    margin-bottom: 20px;
}
div.about-us h3 {
    font-style: italic;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--main-color);
    font-size: 14px;
}
div.about-us p {
    padding: 0 20px ;
    color: #777;
    line-height: 2;
    margin-bottom: 30px;
}
.main div.active {
    display: block;
}
.img-container.active,
.main div.d-flex {
    display: flex;
}
/* End About Us */
/* Start Contacu Us */
div.contact-us {
    display: none;
    margin: 0 50px;
    border-radius: 6px;
    max-height: 600px;
    /* overflow: scroll; */
}
.contact-us img {
    width: 50%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.contact-us .boxes {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 50%;
    background-color: #f0efef9f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
.contact-us .box {
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    width: 80%;
    margin: 10px 20px;
    border: thin solid silver;
    background: silver;
    padding: 20px;
}
.contact-us .box i {
    color: #606060;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2em;
}
.contact-us .box p {
    color: #606060;
    font-size: 14px;
}
/* End Contacu Us */
/* Start Colletion  */
div.collection,
div.TABLESCAPES {
    max-height: 600px;
    background-color: #f0efef9f;
    overflow: scroll;
    overflow-x: hidden;
    display: none;
}
div.collection .toolbar{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}
div.collection .toolbar span {
    cursor: pointer;
    padding: 8px 10px;
    background-color: #d2a64e;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    transition: .3s;
}
div.collection .toolbar span.active,
div.collection .toolbar span:hover {
    background-color: #96732c;
}
div.collection .imgs,
div.TABLESCAPES .imgs{
    padding: 10px 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
div.collection .imgs img,
div.TABLESCAPES .imgs img{
    cursor: pointer;
    max-width: calc(100% / 4 - 20px);
    box-shadow: 1px 1px 6px 2px #00000042;
    padding: 6px;
    transition: .3s;
}
div.collection .imgs img:hover,
div.TABLESCAPES .imgs img:hover {
    box-shadow: none;
}
div.collection .imgs img {
    display: none;
}
div.collection .imgs img.active {
    display: block;
}
/* End  Colletion  */


/* MEDIA */
@media (max-width:767px) {
    .img-container .img {
        padding: 100px 50px;
    }
    div.collection .imgs img, div.TABLESCAPES .imgs img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    div.contact-us {
        overflow: scroll;
        flex-direction: column;
    }
    .contact-us .boxes,
    .contact-us img {
        width:100%;
    }
    ul {
        gap: 30px;
    }
    header .links li {
        font-size: 14px;
    }
    header .social {
        display: none;
    }
    header {
        flex-direction: column;
    }
    header .links {
        margin-top: 30px;
    }
    .main {
        padding: 240px 0 0;
    }
}

ol li {
    margin-bottom: 15px;
}
